.main-navigation{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.5rem;
	background-color:lightgray;
	padding: 0 1rem;
	display: flex;
	align-items: center;
}

.main-navigation__logo h1{
	margin: 0;
	font-size: 1.5rem;
}

.main-navigation__items{
	margin: 0 0 0 1.5rem;
}

.main-navigation__items ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
}

.main-navigation__items li{
	margin: 0 1rem;
}

.main-navigation__items a,
.main-navigation__items button{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font: inherit;
	background: transparent;
	cursor: pointer;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active{
	color: rgb(127, 0, 201);
}
